<!-- redirects user after authentication is granted, and data on facebook id, first_name, and last_name is stored-->

<%= @user['id'] %>
<%= @user['first_name'] %>
<%= @user['last_name']%>

<!--doesn't link to anything -->
<br>
<a href ='#'>Post to Facebook Wall</a>